<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="detail_s.css" />
    <script src="detail_s.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <ul class="nav">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Clothing</a></li>
        <li><a href="#">Living</a></li>
        <li><a href="#">Craft Supplies</a></li>
      </ul>
      <section class="product_detail">
        <div class="details">
          <div class="detail_img"></div>
          <div class="detail_info">
            <p>seller</p>
            <p>rate</p>
            <h2>title</h2>
            <h4>price</h2>
           <div class="review"> <h4>review</h4></div>
          </div>
        </div>
      </section>
    </header>
  </body>
</html>
