<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      Content-Type-Options="text/plain"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=montserrat"
    />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <header>
      <ul class="nav">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Clothing</a></li>
        <li><a href="#">Living</a></li>
        <li><a href="#">Craft Supplies</a></li>
      </ul>
    </header>
    <section class="main">
      <!-- <div class="card1">
        <img
          src="https://www.eathungryroot.com/images-s2020/GBMK-1-A.webp"
          alt=""
        />
        <a href="detail.html">Go to product</a>
        <div class="info"></div>
      </div> -->
    </section>
  </body>
</html>
